# Ignore source files and configs not needed in packaged extension
.vscode/**
.vscode-test/**
node_modules/**
src/**
test/**
out/test/**
**/*.map
**/*.ts
**/*.log

# Ignore config files
.vsc-extension-quickstart.md
.vscodeignore
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/.prettierrc
.yarnrc
package-lock.json

# Ignore git-related files
.git/**
.github/**
.gitmodules

# Ignore local build artifacts
*.vsix
*.tmp
*.log
*.bak
*.zip
.DS_Store
Thumbs.db

# Ignore docs or media (optional)
**/README_old.md
**/docs/**
**/examples/**
**/screenshots/**
